*.stash
*.exe
*.iml
*.xml
*.txt
*.png
*.bmp
*.jpg
*.db
*.dwg
*.pts
*.log
*.tlog
*.obj
*.pch
*.recipe
*.seg
*.pcd
*.pth
*.objects
*.labels
*.lnk
*.dll
*.csv
*.ini
*.lst
*.suo
*.vs
*.zip
*.dat
*.rbf
*.bat
*.varMacro
*.mot
*.camLayout
*.rcp
*.dcf
*.cam
*.lib
*.exp
*.iobj
*.ipdb
*.idb
*.ilk

*.enc
*.user
*.filters
*.ipch
*.weights
*.pyc
*.md
*.gif
*.ipynb
*.pt
*.pro
*.props
*.qrc
*.json
*.sh
*.ply
*.7z
*.opendb
*.pdb